.bmi-score{
    border-radius: 1rem;
    background-color: #181818;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    width: 20rem;
}
.bmi-value{
    padding: .5rem 1.2rem;
    background-color: #333;
    width: fit-content;
    margin: .7rem auto;
    border-radius: .5rem;
    font-size: 2.5rem;
    font-weight: 600;
}
.bmi-type{
    padding: .3rem .5rem;
    font-weight: 600;
    background-color: #222;
    width: fit-content;
    border-radius: .4rem;
    margin: .1rem auto .5rem;
}